       .row_hidden {
            display: none;
        }
		.panel {
		background-color:#F7F7F7;

		}
		.panel-heading{
		cursor:pointer;
		}
        .show_row {
            display: show;
        }

        p.inbox_text {
            text-align: center;
            color: grey;
            margin: 0 0 0px;
        } 

        .thumbnail {
            margin-bottom: 5px;
            border: 0px solid #000;
            height: 150px;
            width: 200px;
        }

        .sample_box {
            display: table-cell;
            margin: 10px;
            padding: 10px;
            color: lightgrey;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        }

        .sidebar {
            float: both;
			overflow-y: auto;
            position: fixed;
            height: 100%;
            top: 50px;
            z-index: 999;
            padding-right: 0px;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            background: #f7f7f7;
        }
		.navbar-default{
		background-image: linear-gradient(to bottom, #1D95B6 0px, #0C6A89 100%);
		}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a{
		background-image: linear-gradient(to bottom, rgb(32, 162, 198) 0px, rgb(21, 117, 149) 100%);

	}
	.navbar-default .navbar-brand {
	color: white;
	}
        h4{
		color: #0A6780;
		}
        h5{
		color: #0D7793;
		}
        .node {
            cursor: pointer;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font: 10px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }
		.table{
		margin-bottom: auto;}
